*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(c.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orangered;
    font-size: 35px;
    font-family: Arial;
    padding-left: 80px;
    padding-top: 10px;
    float: left;
}
.menu{
    width: 400px;
    height: 70px;
    float: left;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
ul li{
    list-style: none;
    margin-top: 27px;
    margin-left: 62px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
ul li a :hover{
    color: orangered;
}
.search{
    float: left;
    width: 330px;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: black;
    border: 1px solid grey;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    padding: 10px;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: orangered;
    border: 2px solid orangered;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content.par{
    padding-left: 25px;
    padding-bottom: 30px;
    font-family:Arial ;
    letter-spacing: 1.2px;
    line-height: 30px;

}
.content h1{
    font-family: 'Times New Roman';
    padding-left: 20px;
    font-size: 40px;
    margin-top: 6%;
    letter-spacing: 2px;
}
.content.cn{
    width: 160px;
    height: 40px;
    background: orangered;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
 .cn.a:hover{
    text-decoration: none;
    color: orangered;

}